{% extends './master.html' %}

{% block conteudo %}
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-lg-3 col-md-4 col-sm-12 bg-secondary">
        <div class="container-fluid">
          <div class="row py-2">
            <div class="col-12 my-2">
              <a href="/descobrir" class="btn btn-block btn-light">Descobrir dispositivos</a>
              <a href="/teste" class="btn btn-block btn-light">Testar conexão com servidor</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 bg-dark">
      {% if testemsg %}
      <div class="alert alert-{{type}} my-2">
        {{testemsg}}
      </div>
      {% endif %}
      {% if itens %}
      <div class="container-fluid">
        <div class="row py-2">
          {% for x in itens%}
            <div class="col-lg-3 col-md-3 col-sm-12 my-2">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-9 p-0">
                    <img src="https://dummyimage.com/2560x2560/bbbbbb/777777.png" alt="" class="img-fluid">
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-3 text-center text-truncate bg-light py-2">
                      <a href="#" class="text-dark">Equipamento {{x}}</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div class="alert alert-info my-2">
        Ainda não há dispositivos descobertos
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
